body {
  background: #000;
  span {
    color: red;
  }
  background: url("@img/girl.jpg");
}

@media (max-width: 768px) {
  span {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  body {
    background-color: green;
  }
}
